* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: #1A6338;
    background-repeat: no-repeat;
    background-size: cover;
}

.karte {
    /*background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 220px;
}

.karta {
    height: 200px;
    margin-right: -75px;
    box-shadow: -2px 2px 3px black;
}

/* */

.karte-gosta {
    /*background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    height: 220px;
}

.karta-gosta {
    height: 200px;
    margin-right: -75px;
    box-shadow: -2px 2px 3px black;
}


.cipovi {
    position:absolute;
    bottom:50px;
}

.cip {
    height: 120px;
    margin-right: -30px;
}

.action-btns {
    position:absolute;
    right:50px;
    bottom:70px;
}

.hit {
    margin-right: 10px;
    font-size: 40px;
    font-weight: 800;
    width: 200px;
    border-radius: 5px;
    border: 0px solid black;
    height: 70px;
    background-color: #2980b9;
    color:white;
}

.stand {
    font-size: 40px;
    font-weight: 800;
    width: 200px;
    border-radius: 5px;
    border: 0px solid black;
    height: 70px;
    background-color: #e74c3c;
    color:white;
}

.bank-amoutn-display {
    text-align: center;
    margin-top: 15px;
    color:white;
}


.opklada {
    position: absolute;
    top:40%;
    left:0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cip-opklada {
    height: 120px;
    margin-left:-135px;
}


.zbir-kuca {
    position:absolute;
    top:120px;
    left: 39%;
    font-size: 70px;
    color:rgba(255, 255, 255, 0.373);
}
.zbir-gost {
    position:absolute;
    top:490px;
    left: 39%;
    font-size: 70px;
    color:rgba(255, 255, 255, 0.373);
}